button.button-style {
    background-color: black;
    width: 100px;
    height: 30px;
    color: white; 
    position: absolute; 
    top: 399px;
    left: 580px;
}

button.no-button {
    display: none;
}