@media (max-width: 774px) {
    .desktop-only {
        display: none;
    }

    .show-on-large{
        display: none;
    }
}

@media (min-width: 775px) {
    .hide-on-large-only{
        display: none;
    }

    #team-nav {
    letter-spacing: 2px;
    margin-bottom: 50px;
    }

    .hide-pictures {
    display: none;
    }

    .flip-box {
    background-color: transparent;
    height: 150px;
    perspective: 1000px; 
    margin-bottom: 20px;
    }

    .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    }

    .flip-box-inner:hover {
    transform: rotateY(180deg);
    }

    .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    }

    .flip-box-back {
    background-color: white;
    color: #0d8b81;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .flip-box-back > a {
        margin: 5px;
    }

    .names {
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }

    .names > p {
        margin-top: 0;
    }
}