#extended-features {
    display: grid;
    margin: 0 30px;
}

div.ext-features-box {
    margin: 17px;
    height: 150px;
    border: 1px solid #00cfbf;
    /* border-radius: 50%; */
    
}



figure.ext-icon {
    margin-top: 0;
}

div.content-box { 
    background-color white;
    height: 100%;
    display: flex;
    flex-direction: row;
    

}

div.content-box > p {
    justify-self: end;
    width: 80%;
    align-self: center;
    margin: 20px;
    text-align: justify;
}



@media (max-width: 534px) {
    #extended-features {
        grid-template-columns: 100%;
        margin: 0 20px;
    }
}

figure.ext-icon > img {
    width: 50px;
    height: 50px;
    margin: 50px auto;
}



@media (min-width: 535px) {
#extended-features {
    grid-template-columns: 50% 50%;
}

   

    figure.ext-icon > img {
        width: 80px;
        height: 80px;
        margin: 35px auto;
    }
    

    .light {
        background-color: #00cfbf;
    }

    .dark {
        background-color: #556270;
        opacity: 0.5;
    }      


}



}