#extended-features {
    display: grid;
    margin: 0 30px;
}

div.ext-features-box {
    margin: 17px;
    height: 150px;
    /* border: 1px solid #00cfbf; */
    
}

div.polygon-box {
    height: 100%;
    width: 45%;
    clip-path:
    polygon(
        0 0,      /* top left */
        0 0,      /* top left */
        100% 0,    /* top right */
        100% 0,    /* top right */
        100% 0,   /* bottom right */
        55% 100%,   /* bottom right */
        0 100%,    /* bottom left */
        0 100%       /* bottom left */
    );
}

div.polygon-box-reversed {
    height: 100%;
    width: 45%;
    clip-path:
    polygon(
        0 0,      /* top left */
        0 0,      /* top left */
        55% 0,    /* top right */
        100% 100%,    /* top right */
        100% 100%,   /* bottom right */
        100% 100%,   /* bottom right */
        0 100%,    /* bottom left */
        0 100%       /* bottom left */
    );
}


.light {
    background-color: #00cfbf;
}

.dark {
    background-color: #556270;
    opacity: 0.6;
}



@media (max-width: 534px) {
    #extended-features {
        grid-template-columns: 100%;
        margin: 0 20px;
    }
}




@media (min-width: 535px) {
#extended-features {
    grid-template-columns: 50% 50%;
}



}