/* * {
  border: 1px dotted black;
}
 */

 /*  Navbar css */
 
 nav > ul {
margin: 0;
 }

body {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  width: auto;
  background: lightgray;
}

nav > ul{
  display: none;
}
#showMenu:hover + ul {
  display: block; 
}

#showMenu + ul:hover {
  display: block; 
}

main{
  border: 1px solid black;
  margin-top: 20px;
}




/*FORM CSS*/
.form{
  border: 1px solid black;
  width: 1000px;
  margin: 0 auto;
  color: black;
  font-family: 'Lato', sans-serif;
  display: grid;
  grid-template: repeat(20, 1fr) / repeat(10, 1fr);
  border: 3px solid rgb(48, 45, 45);
  max-height: 664px;
 
  
}
.form-background {
  width: 1000px;
  height: 0 auto;
  grid-area: 1 /1 / 21/ 10;
  
}

.form-title{
  text-align: center;
  font-size: 25px;
  grid-area: 8/6/11/11; 

}

.form-name{
  font-size: 20px;
  grid-area: 14/7/16/11; 
}
.form-email{
  font-size: 20px;
  grid-area: 16/7/18/11; 
}
.form-info{
  grid-area: 20/1/21/4; 
  font-size: 14px;
  margin-left: 5px;
}
  .form-info p{
    margin: 5px;
  }

.form-button{
  grid-area: 18/7/20/10;
  text-transform: uppercase;
  color: white;
  background-color: #00cfbf;
  border: 0;
  font-family: 'Lato', sans-serif;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  margin-left: 20px;
  border-radius: 25px;
}


.form-button:hover{
  background-color: #08ada0;

}







/* Footer css */

footer{
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
}










@media (min-width: 768px){


  header {
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  #showMenu {
    display: none;
  } 

nav > ul {
  display: block;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;   
  grid-template-areas:
  "header"
  "main"
  "footer" ;
}

main {
  display: grid;
}

footer{
display: flex;
flex-direction: row;

}

footer > div{
  flex: 1;
}

#header {
  grid-area: header;
}
#hero {
  grid-area: hero;
}

#footer {
  grid-area: footer;

}
}