* {
  font-family: 'Lato', sans-serif;
}

 /*  Navbar css */
 
body {
  display: flex;
  flex-direction: column;

}

header {
  position: fixed;
  width: 100%;
  background-color: #00cfbf;
  
}

nav > ul{
  margin: 0;
  display: none;
  width: auto;
  font-size: 15px;
  
}

ul > a {
  text-decoration-line: none;
  text-transform: capitalize;
  color: #596375;
}

#showMenu:hover + ul {
  display: flex;
  justify-content: space-evenly;
  background-color:#00cfbf;
  padding-bottom: 5px;
}

#showMenu + ul:hover {
  display: block;
}

main{
  margin-top: 60px;
}




/* Footer css */


#team{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#team > div {
  align-self: center;
  text-align: center;
  margin-bottom: 10px;
}

footer {
  text-align: center
}










@media (min-width: 525px){


  header {
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  #showMenu {
    display: none;
  } 

nav > ul {
  display: block;
  width: 400px;
}

ul > a {
  text-decoration-line: none;
  text-transform: capitalize;
  font-size: 20px;
  padding: 5px;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;   
  grid-template-areas:
  "header"
  "main"
  "footer" ;
}

main {
  display: grid;
}

#team {
display: flex;
flex-direction: row;

}

#team > div{
  flex: auto;
}

#header {
  grid-area: header;
}
#hero {
  grid-area: hero;
}

#footer {
  grid-area: footer;

}
}