
/*FORM CSS - normal screen*/

.form {
    width: 100%;
    color: black;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(5, 1fr);
    margin: 0 auto;
  }
  
  .form img {
    grid-area: 1/1/8/3;
    max-width: auto;
    height: 60auto;
    margin: 0 auto;
    padding: 0px;
    margin-left: 5px;
  }
  
  .form-title {
    text-align: center;
    font-size: 18px;
    grid-area: 1/4/3/5;
  }
  
  .form-name {
    font-size: 20px;
    grid-area: 3/4/4/5;
    justify-self: center;
    align-self: end;
  }
  
  .form-name > input {
    text-align: center;
    margin: 0 auto;
    height: 35px;
  }
  
  .form-email {
    font-size: 20px;
    grid-area: 4/4/5/5;
    justify-self: center;
    align-self: end;
  }
  
  .form-email > input {
    text-align: center;
    margin: 0 auto;
    height: 35px;
  }
  
  .form-info {
    grid-area: 7/4/8/5;
    font-size: 14px;
    margin-left: 5px;
    justify-self: center;
  }
  .form-info p {
    margin: 5px;
  }
  
  .form-button {
    grid-area: 6/4/7/5;
    text-transform: uppercase;
    color: white;
    background-color: #00cfbf;
    border: 0;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
    margin: 0 auto;
    border-radius: 25px;
    width: 200px;
  }
  
  .form-button:hover {
    background-color: #08ada0;
  }
  


  /*/////////////// FORM AFTER SUBMIT //////////////////// */
  
  #form-afterSubmit {
    width: 100%;
    color: black;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(5, 1fr);
    margin: 0 auto;
    margin-right: 20px;
  }
  
  .form-afterSubmitm img {
    grid-area: 1/1/8/3;
    max-width: auto;
    height: 60auto;
    margin: 0 auto;
    padding: 0px;
    margin-left: 5px;
  }
  
  .form-afterSubmit-title {
    display: none;
    text-align: center;
    font-size: 22px;
    grid-area: 1/4/2/6;
    align-self: center;
    padding: 3px;
  }
  
  .form-afterSubmit-p1 {
    display: none;
    text-align: center;
  
    font-size: 20px;
    grid-area: 2/4/3/6;
    margin-right: 20px;
  }
  .form-afterSubmit-p2 {
    display: none;
    text-align: center;
    font-size: 20px;
    grid-area: 3/4/4/6;
    margin-right: 20px;
  }
  
  .form-afterSubmit-button {
    display: none;
    grid-area: 4/4/5/6;
    text-transform: uppercase;
    color: white;
    background-color: #00cfbf;
    border: 0;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
    margin: 0 auto;
    border-radius: 25px;
    width: 200px;
    height: 90px;
  }
  
  .form-afterSubmit-button:hover {
    display: none;
    background-color: #08ada0;
  }
  




  /*MEDIUM SCREEN*/


  @media (max-width: 1530px) and (min-width: 911px) {
    .form {
      width: 100%;
      color: black;
      font-family: 'Lato', sans-serif;
      display: grid;
      grid-template: repeat(4, 1fr) / repeat(3, 1fr);
      margin: 0 auto;

    }
  
    .form img {
      grid-area: 1/1/8/4;
      max-width: auto;
      height: 60auto;
      margin: 0 auto;
      padding: 0px;
      margin-left: 5px;
    }
  
    .form-title {
      text-align: center;
      font-size: 18px;
      grid-area: 1/3/3/4;
    }
  
    .form-name {
      font-size: 20px;
      grid-area: 3/3/4/4;
      justify-self: center;
      align-self: end;
    }
  
    .form-name > input {
      text-align: center;
      margin: 0 auto;
      height: 35px;
    }
  
    .form-email {
      font-size: 20px;
      grid-area: 4/3/5/4;
      justify-self: center;
      align-self: end;
    }
  
    .form-email > input {
      text-align: center;
      margin: 0 auto;
      height: 35px;
    }
  
    .form-info {
      grid-area: 7/3/8/4;
      font-size: 14px;
      margin-left: 5px;
      justify-self: center;
    }
    .form-info p {
      margin: 5px;
      padding: 20px;
    }
  
    .form-button {
      grid-area: 6/3/7/4;
      text-transform: uppercase;
      color: white;
      background-color: #00cfbf;
      border: 0;
      font-family: 'Lato', sans-serif;
      font-size: 150%;
      font-weight: bold;
      padding: 20px;
      margin: 0 auto;
      border-radius: 25px;
      width: 200px;
    }
  
    .form-button:hover {
      background-color: #08ada0;
    }
  
    


 
  /*/////////////// FORM AFTER SUBMIT //////////////////// */
  
  #form-afterSubmit {
    width: 100%;
    color: black;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(5, 1fr);
    margin: 0 auto;
    margin-right: 20px;
  }
  
  .form-afterSubmitm img {
    grid-area: 1/1/8/3;
    max-width: auto;
    height: 60auto;
    margin: 0 auto;
    padding: 0px;
    margin-left: 5px;
  }
  
  .form-afterSubmit-title {
    display: none;
    text-align: center;
    font-size: 22px;
    grid-area: 1/3/2/4;
    align-self: center;
    padding: 3px;
  }
  
  .form-afterSubmit-p1 {
    display: none;
    text-align: center;
  
    font-size: 20px;
    grid-area: 2/3/3/4;
    margin-right: 20px;
  }
  .form-afterSubmit-p2 {
    display: none;
    text-align: center;
    font-size: 20px;
    grid-area: 3/3/4/4;
    margin-right: 20px;
  }
  
  .form-afterSubmit-button {
    display: none;
    grid-area: 4/3/5/4;
    text-transform: uppercase;
    color: white;
    background-color: #00cfbf;
    border: 0;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
    margin: 0 auto;
    border-radius: 25px;
    width: 200px;
    height: 90px;
  }
  
  .form-afterSubmit-button:hover {
    display: none;
    background-color: #08ada0;
  }
} 
  
  /*SMALL SCREEN */
  
  @media (max-width: 910px) {
    .form {
      width: auto;
      margin: 0 auto;
      color: black;
      font-family: 'Lato', sans-serif;
      display: grid;
      grid-template: repeat(4, 1fr) / repeat(1, 1fr);
  
      margin: 0 auto;
    }
    .form img {
      max-width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 0px;
      display: none;
    }
  
    .form-background-full-screen {
      display: none;
    }
  
    .form-title {
      text-align: center;
      font-size: 18px;
      grid-area: 1/1/3/2;
    }
  
    .form-name {
      font-size: 18px;
      grid-area: 3/1/4/2;
      justify-self: center;
    }
  
    .form-name input {
      text-align: center;
      margin: 0 auto;
    }
  
    .form-email {
      font-size: 18px;
      grid-area: 4/1/5/2;
      justify-self: center;
    }
  
    .form-email input {
      text-align: center;
      margin: 0 auto;
    }
  
    .form-info {
      grid-area: 8/1/9/2;
      font-size: 14px;
      margin-left: 5px;
    }
    .form-info p {
      margin: 5px;
    }
  
    .form-button {
      grid-area: 6/1/7/2;
      text-transform: uppercase;
      color: white;
      background-color: #00cfbf;
      border: 0;
      font-family: 'Lato', sans-serif;
      font-size: 150%;
      font-weight: bold;
      padding: 20px;
      margin: 0 auto;
      border-radius: 25px;
    }
  
    .form-button:hover {
      background-color: #08ada0;
    }
  
    .form-afterSubmit {
      display: none;
    }


/*/////////////// FORM AFTER SUBMIT //////////////////// */
  
#form-afterSubmit {
    width: 100%;
    color: black;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(1, 1fr);
    margin: 0 auto;
    max-height: 400px;
  }
  
  .form-afterSubmitm img {
    grid-area: 1/1/8/2;
    max-width: auto;
    height: 60auto;
    margin: 0 auto;
    padding: 0px;
    margin-left: 5px;
  }
  
  .form-afterSubmit-title {
    display: none;
    text-align: center;
    font-size: 22px;
    grid-area: 1/1/2/2;
    align-self: center;
    padding: 3px;
  }
  
  .form-afterSubmit-p1 {
    display: none;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    grid-area: 2/1/3/2;
  }
  .form-afterSubmit-p2 {
    display: none;
    text-align: center;
    font-size: 20px;
   grid-area: 3/1/4/2;
  }
  
  .form-afterSubmit-button {
    display: none;
    grid-area: 4/1/5/2;
    text-transform: uppercase;
    color: white;
    background-color: #00cfbf;
    border: 0;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
    margin: 0 auto;
    border-radius: 25px;
    width: 200px;
    height: 90px;
  }
  
  .form-afterSubmit-button:hover {
    display: none;
    background-color: #08ada0;
  }

  }
  

  