.hero_main_container {
  height: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("img/hero.jpg");
  background-repeat: no-repeat;
}

.hero_main_p {
  text-transform: uppercase;

  font-family: "Lato", sans-serif;
  font-size: 260%;
  font-weight: bold;
  letter-spacing: 1px;
}

.hero_text_call {
  font-size: 140%;
  font-weight: bold;
  letter-spacing: 2px;
}
.hero_text {
  font-size: 150%;
  letter-spacing: 1px;
}

.hero_button {
  text-transform: uppercase;
  color: white;
  background-color: #00cfbf;
  border: 0;
  font-family: "Lato", sans-serif;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;

  border-radius: 25px;
  max-width: 300px;
}

.hero_button:hover {
  color: white;
  background-color: #08ada0;
}
@media (min-width: 525px) {
  .hero_main_text {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-image: linear-gradient(90deg, transparent, #fff 20%);
    padding: 25px 50px 25px 100px;
    margin-right: 0;
    min-width: 280px;
  }
}

@media (max-width: 524px) {
  .hero_main_container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-image: none;
    background-repeat: no-repeat;
  }

  .hero_image {
    background-image: url("img/background_mobile.jpg");
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  .hero_main_text {
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero_main_p {
    text-transform: uppercase;

    font-family: "Lato", sans-serif;
    font-size: 260%;
    font-weight: bold;
  }

  .hero_text_call {
    font-size: 140%;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .hero_text {
    font-size: 150%;
    letter-spacing: 1px;
  }

  .hero_button {
    text-transform: uppercase;
    color: white;
    background-color: #00cfbf;
    border: 0;
    font-family: "Lato", sans-serif;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;

    border-radius: 25px;
    max-width: 300px;
  }

  .hero_button:hover {
    background-color: #08ada0;
  }
}
